@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-size: 700;
  box-sizing: border-box;
}
h1 {
  font-size: 50px;
  color: white;
}
body {
  background-image: linear-gradient(
      200deg,
      rgba(49, 71, 58, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./assets/books.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#headinglogo {
  height: 65px;
  width: 65px;
  margin-right: 10px;
  margin-top: 6px;
}
#header {
  display: flex;
  align-items: center;
}
#head {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
}
.card-img-top {
  height: 300px;
}
#ai{
  background-color: black;
}
#gk{
  background-color: black;
}
#sc{
  background-color: black;
}
#ma{
  background-color: black;
}
#ai:hover {
  background-color: white;
  color:black;
}
#gk:hover {
  background-color: white;
  color:black;
}
#sc:hover {
 background-color: white;
  color:black;
}
#ma:hover {
  background-color: white;
  color:black;
}
#questions-container {
  background-color: rgb(86, 71, 200);
  width: 100%;
  height: 800px;
  border-radius: 30px;
}
.card-group{
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
#cardingtwo{
  margin-left: 20px;
}
#cardingthree{
  margin-left: 20px;
}
.option {
  border: 1px solid black;
  width: 1000px;
  height: 80px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
}
.nextqus {
  border: 1px solid black;
  width: 500px;
  height: 80px;
  border-radius: 10%;
  font-family: "Battambang", system-ui;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.option:hover {
  background-color: black;
  color: white;
}
.nextqus:hover {
  background-color: #1e293b;
  color: white;
}
#questionelement {
  font-family: "Battambang", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
}
.option {
  font-family: "Battambang", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
}
@media screen and (max-width:1000px) {
.option{
  width: 500px;
}
}
@media screen and (max-width:550px) {
  .option{
    width: 300px;
  }
  .nextqus{
    width:300px;
  }
  }
